APP_NAME=Event-Booking-Management
APP_ENV=local
APP_KEY=base64:G65wipAGYndyRjsW4n3uuDdm2AHYo9VE7q7O7QfyyXQ=
APP_DEBUG=true
APP_TIMEZONE='Asia/Dhaka'
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=booking_management
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=4c5969c2e8c7b0
MAIL_PASSWORD=6e1bcadc307209
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=jahidiu@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=AZzZSpnrjmzU5x-Vm2vyHU2ftMG-lU42rDkohH40xdJy2zFyYLWlW59hagR9ObZW-sUD_fjxX641aX1C
PAYPAL_CLIENT_SECRET=EDiIW6jiBx-UcG42Dd2P6AsDwQ_TASHA0ymLoHoVFvdI9gxgrT-hSm9Efaez9Pv0woulbyKqBsV2iHSW
PAYPAL_WEBHOOK_ID=6YU42132YT4308641

# PAYPAL_MODE=live
# PAYPAL_CLIENT_ID=AYZ_bXs3IQXmNO0GCsG4V7HcoAVcImxUai0VMYrkLnkdn2tLJH41IPlZOZb6SNAo8fhr-Z9twHwxVu82
# PAYPAL_CLIENT_SECRET=ECo8NGbn9-2qoi2ndaCd56Inu634uBLqykF2ZhYgvtaOrIvqjWxyXa9RjoB4fRxixmn7RDxRfWmrFZGn
# PAYPAL_WEBHOOK_ID=
